@{
    ViewData["Title"] = "Home |";
}

<div class="container">
    <div class="text-center">
        <h1 class="display-4">Welcome To CheckIn</h1>
        <p>Your one stop for Employees CheckIn</a>.</p>
    </div>
</div>


        


    
    