
*{
  box-sizing: border-box;
}

body{
  font-family: 'Courier New', Courier, monospace;
  background-color: rgb(192, 213, 214);
}

.split{
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left{
  left: 0;
  background: url('../images/1.jpg') no-repeat;
  background-position: center;
  background-size: cover;
}

.right{
  right: 0;
  background-color: #f4f7f6;
}

.centered{
  position: absolute;
  top: 26.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered button{
  width: 100%;
}

@media (max-width: 850px){
  .right {
      width: 100%;
  }
}

a{
  color: black;
}

a:hover, a:focus, a:visited
{
  text-decoration: none;
  color: black;
}

.welcome a:visited {
  color: black;
}

.content-right{
  right: 50%;
  /* margin-top: 20px; */
}

.content-left{
  left: 50%;
  margin-left: -50px;
  margin-top: -24px;
}

.form-control{
  width: 100%;
}

/* new addition */
*{
  margin: 0;
  padding: 0;
}
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */


.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
} */

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/* .border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
} */

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
